{% extends 'layout.twig' %}

{% block page_title %}{{ parent() }} | Home{% endblock %}

{% block content %}
<!-- <br><br> -->

    <div style="border:0; border-collapse: collapse; width: 700px;">
      <p>Page {{ controller }}</p>
    </div>

{% endblock %}
        
